.card-signup {
  max-width: 980px;
  width: 100%;
}

.card-signup-success {
  max-width: 650px;
  width: 100%;
}

.form-success {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.notice {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2887C7;
  text-align: center;
}

.title {
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2887C7;
}

.description {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

form {
  max-width: 838px;
  margin: auto;
}

.signin-link {
  display: flex;

  a {
    position: relative;
    font-weight: 600;
    display: block;
    max-width: 400px;
    width: 100%;
    min-height: 24px;
    padding: 0px 15px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    z-index: 1;

    span {
      background-color: #FFF;
      padding: 0 10px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #2887C7;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: -1;
    }
  }
}

.navigate-buttons {
  max-width: 400px;
  margin: auto;
}
