@font-face {
  font-family: 'smc';
  src: url(../assets/fonts/smc.ttf) format('ttf'),
    url(../assets/fonts/smc.woff) format('woff'),
    url(../assets/fonts/smc.svg) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sicon-"], [class*=" sicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smc' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-upload:before {
  content: "\e903";
}
.sicon-plus:before {
  content: "\e902";
}
.sicon-export:before {
  content: "\e900";
}
.sicon-checklist:before {
  content: "\e901";
}
