@import '@App/library/stylesheets/global/mixins';

.wrapper-card-main-feature {
  margin: -15px;

  @include screen-md-down {
    margin: -7.5px;
  }

  &__scale {
    padding: 15px;

    @include screen-md-down {
      padding: 7.5px;
    }

    &>div {
      // padding-bottom: 70%;
      position: relative;
      display: block;
    }
  }
}
