//-----------------------------------------------------------------------------
//  Mixins
//-----------------------------------------------------------------------------

@mixin colorGradient {
  background: linear-gradient(90deg, #ff7200 0, #ff8f36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin screen-sm-down {
  @media (max-width: 479.98px) { @content; }
}

@mixin screen-sm-up {
  @media (min-width: 480px) { @content; }
}

@mixin screen-md-down {
  @media (max-width: 834.98px) { @content; }
}

@mixin screen-md-up {
  @media (min-width: 835px) { @content; }
}

@mixin screen-lg-up {
  @media (min-width: 1025px) { @content; }
}

@mixin screen-lg-down {
  @media (max-width: 1024.98px) { @content; }
}

@mixin screen-xl-down {
  @media (max-width: 1183.98px) { @content; }
}

@mixin screen-xl-up {
  @media (min-width: 1184px) { @content; }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }

  &::-webkit-scrollbar-button {
      display: none;
  }

  &::-webkit-scrollbar-thumb {
      // background-color: $bright-blue;
      border-radius: 0;
  }

  &::-webkit-scrollbar-track-piece {
      // background-color: $grey-300;
      border-radius: 0;
  }
}

// @mixin placeholders() {
//     /* autoprefixer: off */
//    &::-webkit-input-placeholder { @content; }
//        &::-ms-input-placeholder { @content; }
//         &:-ms-input-placeholder { @content; }
//             &::-moz-placeholder { @content; }
//              &:-moz-placeholder { @content; }
// }

// @mixin hidden-accessible() {
//     width: 0;
//     height: 0;
//     display: block;
//     position: absolute;
//     clip: rect(0, 0, 0, 0);
//     opacity: 0;
//     overflow: hidden;
// }

// @mixin clearfix() {
//     &:before,
//     &:after {
//         content: ' ';
//         display: table;
//     }
//     &:after {
//         clear: both;
//     }
// }

//@mixin ellipsis() {
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//}

//@mixin justify() {
//    text-align: justify;
//
//    &:after {
//        content: '';
//        width: 100%;
//        height: 0;
//        display: inline-block;
//    }
//}
