html,
body {
  height: 100%;
}

body {
  // font-size: 13.5px;
  // line-height: 24px;
  // font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #F2F2F2;
  color: #2E3842;
  // cursor: url(@App/library/assets/components/cursor.png), auto;

  // *:not(input):hover {
  //   cursor: url(@App/library/assets/components/cursor.png), auto;
  // }
}

@include screen-md-down {
  body {
    font-size: 12px;
  }
}

a {
  color: #2887C7;

  &:hover {
    color: #2887C7;
  }
}

.canvasjs-chart-credit {
  display: none;
}

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='512' height='513' viewBox='0 0 512 513' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='512' height='512' rx='100' fill='url(%23paint0_linear)'/%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M87.7571 0.741943C38.3038 6.77877 0 48.9162 0 100V186.741C0.583133 186.895 1.16384 187.059 1.74181 187.235C5.77293 188.724 10.1297 189.119 14.3647 188.378C18.5998 187.638 22.5606 185.79 25.8406 183.023C41.1483 170.815 60.6168 164.989 80.1519 166.772C87.7638 167.545 95.2585 169.202 102.483 171.71C100.407 162.753 91.131 154.491 81.206 152.651C72.2027 150.966 63.3454 152.275 54.4818 153.586C54.0055 153.656 53.5293 153.727 53.053 153.797C41.9604 155.41 31.1436 155.217 20.9268 149.81C15.6237 147.002 12.5749 142.855 12.6722 136.706C12.7695 130.558 16.0292 126.394 21.6565 124.215C33.9329 119.374 46.3877 119.745 58.8587 123.537C70.0648 126.943 79.9411 132.914 89.8011 139.046C90.0178 139.181 90.2345 139.316 90.4512 139.451C101.991 146.645 113.536 153.841 127.003 157.057C133.712 158.833 140.645 159.621 147.583 159.397C158.238 158.783 166.006 153.442 172.622 145.324C181.574 134.382 192.602 126.2 206.97 123.57C219.701 121.246 231.637 124.183 243.135 129.444C244.801 130.202 246.453 131.012 248.284 131.911C249.143 132.332 250.042 132.773 251 133.237C247.726 124.54 241.807 117.077 234.069 111.886C215.046 99.072 195.148 97.3613 174.455 107.754C166.784 111.611 159.097 115.452 151.07 118.535C143.042 121.617 134.95 123.037 126.484 121.214C123.603 120.621 120.881 119.421 118.504 117.695C116.126 115.97 114.147 113.758 112.7 111.208C111.483 109.347 110.967 107.117 111.243 104.914C111.519 102.711 112.57 100.676 114.208 99.1688C121.084 91.8582 129.793 91.6807 138.809 92.8104C143.431 93.3853 147.991 94.266 152.549 95.1465C157.587 96.1197 162.624 97.0926 167.741 97.6518C172.254 98.3312 176.867 97.7908 181.098 96.0873C185.329 94.3839 189.022 91.5799 191.791 87.9689C194.233 85.0364 196.323 81.8301 198.018 78.4151C197.054 78.575 196.124 78.7349 195.217 78.8907C193.378 79.2067 191.637 79.506 189.91 79.7546C175.185 81.8364 162.114 77.0595 149.643 69.9748C146.946 68.4426 144.272 66.8632 141.598 65.283C139.85 64.2501 138.101 63.2169 136.344 62.1962C122.738 54.2401 108.954 55.3375 96.8232 65.4239C91.4229 69.9587 86.0225 74.1708 79.0978 75.8814C66.9349 78.8831 56.491 72.7506 53.7665 60.7438C52.1448 53.4009 55.8423 48.1399 60.8372 43.4921C68.5404 36.3106 78.2221 33.9221 88.2605 32.4213C95.5919 31.5436 102.807 29.8826 109.781 27.4669C113.428 26.1451 116.774 24.1127 119.623 21.4885C122.472 18.8644 124.766 15.7011 126.371 12.184C124.975 11.9839 123.607 11.8 122.259 11.6187C119.801 11.2882 117.407 10.9662 115.019 10.5702C108.995 9.58168 103.186 7.57297 97.8449 4.63132C94.4743 2.75222 91.1133 1.47208 87.7571 0.741943ZM0 201.794V221.592C3.28849 219.854 6.49955 217.97 9.62337 215.945C22.6782 207.876 36.1222 200.775 52.1124 200.226C47.7175 194.4 36.5439 191.867 29.9111 192.996C23.231 194.163 16.8896 196.315 10.5321 198.473C8.09216 199.301 5.64988 200.13 3.18514 200.904C2.12422 201.237 1.06258 201.535 0 201.794Z' fill='white'/%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M410.078 512.078C417.13 509.678 424.433 508.086 431.848 507.333C435.617 506.989 439.383 506.928 443.117 507.142C451.881 504.275 460.112 500.229 467.623 495.193C464.754 495.08 461.86 494.781 458.947 494.357C458.471 494.287 457.994 494.217 457.518 494.147C448.655 492.836 439.797 491.527 430.794 493.212C420.94 495.038 411.726 503.196 409.563 512.078H410.078ZM495.165 467.627C493.842 466.455 492.225 465.505 490.343 464.776C478.067 459.935 465.612 460.306 453.141 464.098C441.935 467.503 432.059 473.475 422.199 479.607C421.982 479.742 421.765 479.877 421.549 480.012C410.009 487.205 398.464 494.402 384.997 497.617C378.288 499.394 371.355 500.182 364.417 499.957C353.762 499.344 345.994 494.002 339.378 485.885C330.426 474.943 319.398 466.761 305.03 464.131C292.299 461.807 280.363 464.744 268.865 470.005C267.199 470.763 265.547 471.573 263.716 472.471C262.857 472.893 261.958 473.334 261 473.797C264.274 465.101 270.193 457.638 277.931 452.447C296.954 439.633 316.852 437.922 337.545 448.315C345.216 452.172 352.903 456.013 360.93 459.095C368.958 462.178 377.05 463.598 385.516 461.774C388.397 461.182 391.119 459.982 393.496 458.256C395.874 456.53 397.853 454.318 399.3 451.769C400.517 449.908 401.033 447.678 400.757 445.475C400.481 443.272 399.43 441.237 397.792 439.73C390.916 432.419 382.207 432.242 373.191 433.371C368.569 433.946 364.009 434.827 359.451 435.707C354.413 436.681 349.376 437.653 344.259 438.213C339.746 438.892 335.133 438.352 330.902 436.648C326.671 434.945 322.978 432.141 320.209 428.53C317.767 425.597 315.677 422.391 313.982 418.976C314.946 419.136 315.876 419.296 316.783 419.451C318.622 419.768 320.363 420.067 322.09 420.315C336.815 422.397 349.886 417.62 362.357 410.536C365.054 409.003 367.727 407.424 370.402 405.844C372.15 404.811 373.899 403.778 375.656 402.757C389.262 394.801 403.046 395.898 415.177 405.985C420.577 410.52 425.977 414.732 432.902 416.442C445.065 419.444 455.509 413.311 458.233 401.305C459.855 393.962 456.158 388.701 451.163 384.053C443.46 376.871 433.778 374.483 423.739 372.982C416.408 372.104 409.193 370.443 402.219 368.028C398.572 366.706 395.226 364.674 392.377 362.049C389.528 359.425 387.234 356.262 385.629 352.745C387.025 352.545 388.393 352.361 389.741 352.18C392.199 351.849 394.593 351.527 396.981 351.131C403.005 350.142 408.814 348.134 414.155 345.192C425.734 338.737 437.2 339.35 448.746 345.047C457.909 349.719 466.483 355.456 474.288 362.137C484.745 371.132 498.209 375.873 512 375.442V412.078C512 432.632 505.799 451.739 495.165 467.627ZM512 338.413V309.688C511.711 309.757 511.422 309.827 511.134 309.898C497.771 313.158 484.262 314.723 470.591 311.705C470.339 311.647 470.064 311.543 469.782 311.437C468.974 311.133 468.116 310.81 467.623 311.479C467.12 312.163 467.554 312.976 467.964 313.743C468.096 313.99 468.226 314.233 468.321 314.465C473.121 326.472 482.348 332.62 494.933 334.444C500.766 335.286 506.508 336.475 512 338.413Z' fill='white'/%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M234.512 257.765C232.708 256.92 230.706 257.086 228.799 256.739C206.908 252.792 190.289 241.195 179.154 221.926C171.549 208.759 169.114 194.424 170.588 179.378C172.037 162.861 179.424 147.433 191.376 135.961C201.839 125.529 215.422 118.812 230.052 116.834C247.775 114.324 264.402 117.395 279.548 127.168C295.749 137.627 306.12 152.397 310.131 171.255C314.386 190.99 311.344 209.714 300.005 226.631C289.272 242.64 274.229 252.436 255.371 256.368C252.93 256.875 250.458 257.226 247.972 257.417C247.641 257.417 247.255 257.37 247.081 257.788L244.654 257.788C242.125 257.213 239.5 257.213 236.971 257.788L234.512 257.765ZM290.706 187.098C290.706 159.185 268.902 137.217 241.266 137.114C234.745 137.026 228.272 138.234 222.221 140.669C216.17 143.103 210.66 146.715 206.011 151.296C201.362 155.876 197.666 161.335 195.136 167.356C192.607 173.376 191.294 179.84 191.274 186.372C190.935 214.411 212.613 236.696 240.982 236.712C269.65 236.72 290.966 213.882 290.706 187.098Z' fill='white'/%3E%3Cpath d='M384.537 257.765C382.732 256.92 380.731 257.086 378.832 256.739C356.931 252.792 340.311 241.195 329.183 221.926C321.579 208.759 319.151 194.424 320.617 179.378C322.066 162.859 329.457 147.43 341.414 135.961C351.872 125.53 365.45 118.812 380.077 116.834C397.808 114.324 414.428 117.395 429.575 127.168C445.817 137.627 456.109 152.397 460.168 171.255C464.415 190.99 461.373 209.714 450.033 226.631C439.308 242.64 424.256 252.436 405.405 256.368C402.961 256.875 400.486 257.225 397.997 257.417C397.666 257.417 397.28 257.37 397.107 257.788L394.664 257.788C392.138 257.212 389.514 257.212 386.988 257.788L384.537 257.765ZM440.742 187.154C440.742 159.209 418.96 137.232 391.346 137.114C363.22 136.996 341.651 158.988 341.296 186.317C340.926 214.364 362.574 236.664 390.944 236.712C419.63 236.775 440.97 213.953 440.742 187.154Z' fill='white'/%3E%3Cpath d='M206.451 246.247C197.173 252.82 187.374 253.543 177.03 249.608C173.36 248.136 169.843 246.313 166.528 244.165C160.171 240.238 153.625 236.782 145.84 236.515C147.979 233.68 153.42 232.447 156.649 232.997C161.15 233.782 165.335 235.486 169.662 236.845C173.121 237.929 176.595 238.267 180.117 237.112C180.743 236.959 181.327 236.668 181.824 236.26C182.322 235.852 182.721 235.338 182.991 234.756C183.266 234.171 183.389 233.526 183.348 232.882C183.308 232.237 183.106 231.613 182.76 231.066C182.414 230.519 181.936 230.067 181.37 229.751C180.803 229.435 180.166 229.266 179.517 229.258C176.434 228.977 173.326 229.295 170.365 230.193C168.402 230.918 166.281 231.11 164.219 230.749C162.157 230.389 160.228 229.49 158.631 228.143C151.178 222.202 141.699 219.367 132.187 220.234C128.481 220.61 124.831 221.417 121.314 222.637C122.325 218.278 126.841 214.257 131.674 213.362C136.293 212.498 140.833 213.252 145.382 213.919C150.783 214.705 156.049 214.61 161.024 211.979C163.606 210.613 165.091 208.594 165.043 205.602C164.996 202.609 163.409 200.583 160.669 199.523C154.691 197.167 148.627 197.347 142.555 199.193C137.098 200.85 132.29 203.756 127.489 206.741C121.764 210.306 116.055 213.911 109.375 215.506C106.108 216.37 102.732 216.754 99.3543 216.645C94.1665 216.346 90.3842 213.746 87.1625 209.796C82.8038 204.471 77.4344 200.489 70.4383 199.209C64.2398 198.078 58.4281 199.507 52.8297 202.068C51.6373 202.609 50.4608 203.206 49 203.913C50.5943 199.681 53.476 196.049 57.2437 193.522C66.506 187.286 76.1947 186.454 86.2703 191.512C90.0052 193.389 93.748 195.258 97.6567 196.758C101.565 198.258 105.506 198.949 109.627 198.062C111.031 197.773 112.355 197.19 113.513 196.35C114.671 195.51 115.634 194.433 116.339 193.192C116.931 192.287 117.183 191.202 117.048 190.129C116.914 189.057 116.403 188.067 115.605 187.333C112.257 183.775 108.017 183.689 103.626 184.239C98.8885 184.828 94.285 186.077 89.5393 186.595C87.342 186.926 85.0957 186.663 83.0355 185.834C80.9754 185.005 79.1772 183.64 77.8292 181.883C76.64 180.455 75.6224 178.895 74.797 177.233C76.2184 177.469 77.4896 177.704 78.7451 177.885C85.9149 178.898 92.2793 176.573 98.3515 173.125C100.523 171.892 102.663 170.596 104.826 169.34C111.451 165.468 118.163 166.002 124.07 170.911C126.699 173.117 129.328 175.167 132.7 176C138.622 177.461 143.708 174.476 145.034 168.633C145.824 165.059 144.023 162.499 141.591 160.237C137.841 156.742 133.127 155.579 128.239 154.849C124.669 154.422 121.156 153.613 117.76 152.438C115.984 151.795 114.355 150.805 112.968 149.528C111.581 148.251 110.464 146.712 109.683 145C111.601 144.725 113.41 144.513 115.21 144.215C118.143 143.734 120.971 142.756 123.572 141.324C129.21 138.183 134.793 138.481 140.415 141.254C144.876 143.527 149.051 146.319 152.851 149.571C158.063 154.052 164.811 156.365 171.692 156.027C175.885 155.878 178.798 153.93 179.88 150.286C181.144 145.966 179.88 142.542 176.098 140.288C172.039 137.876 167.531 136.761 162.903 136.094C156.776 135.206 152.283 132.214 149.946 126.37C149.756 125.907 149.282 125.357 149.606 124.917C149.93 124.477 150.577 124.917 151.051 125.027C157.708 126.496 164.285 125.734 170.792 124.148C180.964 121.635 191.657 122.181 201.516 125.718C202.053 125.899 202.582 126.111 203.253 126.354C182.32 141.442 171.534 161.564 172.181 187.216C172.829 212.867 184.815 232.29 206.451 246.247Z' fill='white'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d)'%3E%3Cpath d='M462 394.255C461.312 395.529 460.184 395.794 458.841 395.772C455.918 395.728 452.99 395.772 450.034 395.772C447.8 395.772 447.178 395.264 446.941 393.085C446.484 388.843 446.094 384.59 445.67 380.343C445.119 374.964 444.569 369.586 444.019 364.208C443.501 358.989 443 353.771 442.477 348.552C441.945 343.213 441.395 337.88 440.826 332.555C440.617 330.514 440.414 328.473 440.193 326.283C439.99 326.421 439.817 326.599 439.683 326.805C439.55 327.012 439.459 327.243 439.417 327.486C431.66 347.94 423.882 368.407 416.081 388.888C415.481 390.46 415.013 390.824 413.274 390.835C410.103 390.835 406.933 390.835 403.768 390.835C401.881 390.835 401.501 390.592 400.802 388.772C398.6 383.053 396.411 377.329 394.236 371.599C388.541 356.661 382.853 341.72 377.173 326.774C377.074 326.52 376.948 326.278 376.694 325.726C376.414 328.374 376.144 330.691 375.929 333.03C375.405 338.248 374.886 343.465 374.372 348.679C373.832 354.104 373.282 359.524 372.721 364.941C372.214 369.994 371.706 375.049 371.196 380.106C370.745 384.519 370.286 388.932 369.82 393.345C369.633 395.115 369.033 395.733 367.261 395.755C363.958 395.799 360.667 395.799 357.387 395.755C355.504 395.728 354.827 394.801 355.037 392.892C355.774 386.185 356.473 379.477 357.2 372.769C357.899 366.304 358.62 359.844 359.313 353.379C360.084 346.208 360.816 338.987 361.586 331.794C362.274 325.412 362.984 319.029 363.678 312.641C364.041 309.287 364.404 305.934 364.74 302.58C364.938 300.577 365.703 299.822 367.674 299.794C371.658 299.794 375.641 299.794 379.623 299.794C381.417 299.794 382.072 300.307 382.699 302C388.86 318.373 395.021 334.738 401.182 351.095C403.383 356.979 405.601 362.864 407.836 368.748C407.941 369.24 408.177 369.696 408.518 370.066C409.151 368.411 409.757 366.795 410.357 365.195L434.023 302.16C434.722 300.301 435.487 299.788 437.513 299.788C441.377 299.788 445.229 299.788 449.071 299.788C451.124 299.788 451.785 300.274 452.038 302.342C452.55 306.458 452.952 310.584 453.397 314.704L455.23 331.921C455.839 337.621 456.448 343.321 457.057 349.021C457.667 354.721 458.277 360.378 458.89 365.989C459.496 371.649 460.101 377.307 460.707 382.963C461.053 386.196 461.383 389.434 461.73 392.666C461.73 392.799 461.879 392.92 461.961 393.052L462 394.255Z' fill='white'/%3E%3Cpath d='M182.919 396.772C181.654 396.182 180.262 396.298 178.93 396.055C163.645 393.299 152.041 385.203 144.266 371.749C138.957 362.555 137.256 352.546 138.285 342.04C139.297 330.508 144.455 319.735 152.8 311.726C160.105 304.441 169.589 299.751 179.805 298.371C192.179 296.618 203.789 298.762 214.359 305.586C225.699 312.889 232.89 323.201 235.718 336.369C238.689 350.148 236.56 363.222 228.648 375.034C221.154 386.211 210.65 393.051 197.483 395.796C195.779 396.151 194.053 396.396 192.317 396.529C192.086 396.529 191.816 396.496 191.695 396.788H189.989C188.224 396.386 186.391 396.386 184.625 396.788L182.919 396.772ZM222.155 347.431C222.155 327.941 206.931 312.602 187.635 312.531C168.025 312.459 152.971 327.82 152.723 346.924C152.492 366.502 167.629 382.061 187.436 382.072C207.453 382.078 222.337 366.132 222.155 347.431Z' fill='white'/%3E%3Cpath d='M291.369 396.788C290.097 396.199 288.685 396.314 287.345 396.072C271.9 393.315 260.178 385.217 252.33 371.761C246.966 362.566 245.249 352.555 246.288 342.048C247.31 330.512 252.523 319.737 260.956 311.728C268.332 304.443 277.908 299.752 288.224 298.371C300.729 296.618 312.451 298.763 323.134 305.587C334.561 312.891 341.847 323.228 344.704 336.359C347.706 350.14 345.56 363.216 337.562 375.03C329.998 386.21 319.382 393.051 306.087 395.796C304.363 396.15 302.618 396.395 300.863 396.529C300.629 396.529 300.357 396.496 300.234 396.788H298.512C296.728 396.386 294.876 396.386 293.092 396.788H291.369ZM331.009 347.478C331.009 327.963 315.647 312.616 296.172 312.533C276.335 312.45 261.123 327.809 260.872 346.893C260.611 366.48 275.879 382.053 295.888 382.086C316.119 382.13 331.187 366.193 331.009 347.478Z' fill='white'/%3E%3Cpath d='M92.9886 374.195C94.0885 371.32 95.1884 368.615 96.2498 365.905L121.173 302.159C121.894 300.33 122.68 299.812 124.687 299.812C127.899 299.812 131.107 299.812 134.311 299.812C136.935 299.812 137.534 300.699 136.561 303.117L102.838 386.394C101.898 388.724 100.941 391.043 100.028 393.389C99.8039 394.092 99.3578 394.704 98.7566 395.131C98.1555 395.558 97.432 395.778 96.6952 395.757C94.2205 395.801 91.7457 395.796 89.2654 395.757C87.5221 395.73 86.4552 394.766 85.8118 393.169C80.558 380.126 75.295 367.091 70.0229 354.064C63.1926 337.151 56.3604 320.239 49.5264 303.326C49.3676 302.954 49.2281 302.573 49.1085 302.186C48.7675 300.991 49.235 300.231 50.4448 299.928C51.2458 299.792 52.0602 299.755 52.8701 299.818C55.6693 299.818 58.474 299.818 61.2733 299.818C63.2971 299.818 64.155 300.402 64.8809 302.252C72.7818 322.528 80.6826 342.804 88.5835 363.08C89.9199 366.517 91.2343 369.959 92.5706 373.396C92.6531 373.605 92.7851 373.804 92.9886 374.195Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='45' y='116' width='429' height='157.788' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='4' dy='8'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.188235 0 0 0 0 0.188235 0 0 0 0 0.188235 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d' x='45' y='297.788' width='429' height='115' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='4' dy='8'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.188235 0 0 0 0 0.188235 0 0 0 0 0.188235 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='512' y2='512' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF7200'/%3E%3Cstop offset='0.525717' stop-color='%23FF8F36'/%3E%3Cstop offset='1' stop-color='%23FF7506'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;
}
