.no-line-height {
  line-height: 0!important;
}
.tool-bar {
  display: flex;
  justify-content: space-between;
  .tool-bar__group {
    display: flex;
    >*:not(:last-child){
      margin-right: 30px;
    }
  }
}
