// @import '@App/library/stylesheets/global/mixins';
.content-wrapper {
  min-height: 100vh;
}

// .content-wrapper {
//   padding: 30px;
//   display: flex;
//   // min-height: 100%;
//   position: relative;
//   // overflow-x: hidden;

//   // sticky quickaccess 
//   min-height: calc(100vh - 215px);

//   @include screen-lg-down {
//     padding: 45px 15px 15px 15px;
//     flex-grow: 1;
//     min-width: 0;
//   }

//   &.with-footer {
//     padding: 30px 30px 110px;

//     @include screen-md-down {
//       padding: 45px 15px 110px;
//     }

//   }

//   .content-wrapper__content {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     min-width: 0;
//   }

//   .content-wrapper__footer {
//     bottom: 0;
//     left: 0;
//     background-color: #fff;
//     height: 70px;
//     width: 100%;
//     position: absolute;
//     display: flex;

//     .footer--content {
//       flex-grow: 1;
//       padding: 0 30px;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       >* {
//         &:not(:last-child) {
//           margin-right: 30px;
//         }
//       }
//     }

//     @include screen-lg-up {
//       .footer--quickaccess-spacing {
//         flex: 0 0 250px;
//         transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

//         &.hidden {
//           flex: 0 0 0px;
//         }
//       }
//     }
//   }

//   .content-wrapper__quick-access {

//     flex: 0 0 280px;
//     overflow: hidden;
//     padding: 0 30px;
//     margin-right: -30px;
//     // width: 280px;
//     transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
//     z-index: 9999;

//     // sticky quickaccess 
//     min-height: inherit;
//     max-height: 590px;
//     min-width: 280px;
//     max-width: 280px;
//     position: sticky;
//     top: 105px;
//     overflow-y: hidden;

//     @include screen-lg-down {
//       flex: none;
//       position: fixed;
//       padding: 0 15px;
//       min-height: initial;
//       max-height: calc(100vh - 70px);
//       overflow-y: auto;
//       margin-right: 0;
//       right: 15px;
//     }

//     @include screen-md-down {
//       right: 0;
//       top: 65px;
//     }

//     &.hidden {
//       flex: 0 0 0px;
//       width: 0;
//       min-width: 0;
//       padding-left: 0;

//       // overflow: hidden;
//       @include screen-lg-down {
//         flex: none;
//         width: initial;
//       }

//       @include screen-lg-down {
//         transform: translateX(100%);
//       }

//       .quick-access {
//         transform: translateX(50px);
//       }
//     }

//     .quick-access {
//       margin-left: auto;
//       width: 220px;
//       background: #2887C7;
//       padding: 15px;
//       border-radius: 18px;
//       box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
//       transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

//       &__item {
//         height: 100px;
//         background-color: #fff;
//         display: flex;
//         justify-content: space-around;
//         flex-direction: column;
//         align-items: center;
//         border-radius: 10.5px;
//         font-size: 14px;
//         line-height: 24px;
//         font-weight: 500;
//         color: #1D242A;
//         padding: 7px 0;
//         text-decoration: none;
//         transition: all ease-in-out 0.2s;

//         &:not(:last-child) {
//           margin-bottom: 15px;
//         }

//         &:hover {
//           box-shadow: 0px 10px 20px inset rgba(0, 0, 0, 0.15);
//         }
//       }
//     }
//   }
// }
